<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCniAyzANwkhAWlXbZq3KfcB6SRogJ8t6E</string>
	<key>GCM_SENDER_ID</key>
	<string>702555117174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluyotest</string>
	<key>PROJECT_ID</key>
	<string>fluyotest-bf4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>fluyotest-bf4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702555117174:ios:f75cb7e133398292bf7157</string>
</dict>
</plist>